@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pattern-grid {
    background-image: radial-gradient(#000 1px, transparent 1px);
    background-size: 20px 20px;
  }
  
  .neo-shadow {
    box-shadow: 6px 6px 0px 0px rgba(0,0,0,1);
  }
  
  .neo-shadow-hover:hover {
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
    transform: translate(4px, 4px);
  }
}

body {
  background-color: #ffffff;
  color: #000000;
}